---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import hsiBg from "../assets/hsi_bg.png";
import heroLogo from "../assets/hero-logo.png";
import heroLogoMobile from "../assets/hero-logo-mobile-min.png";
import heroWoman from "../assets/hero-woman.png";
import VIForoHsi from "../assets/VIForo2026.svg";
import msLogo from "../assets/logo_cnsp.svg";
import msLogoMedicaSur from "../assets/medica-sur.svg";
import HeroSlider from "./react/HeroSlider.tsx";
import DescargarAgendaButton from "./atoms/DescargarAgendaButton.astro";

const sectionStyles = `landing-section md:min-h-screen bg-light-white w-screen text-center overflow-hidden relative pb-24 md:pb-0`;
---

<section class={sectionStyles} data-header-color={`light-white`} id="inicio">

    <!-- Fondo del home -->
  <div
    class="absolute inset-0 z-0 bg-no-repeat bg-cover bg-center pointer-events-none"
    style="background-image: url('/hero-bg.png');"
    aria-hidden="true"></div>

  <!-- Desktop Layout -->
  <div class="flex flex-col xl:mt-6">
    <div class="hidden lg:flex flex-row justify-between items-start grow px-0 pl-[5%] pr-[5%] pt-32 z-30 relative min-h-[500px]">

     <!-- LEFT: Slider + Logo -->
<div class="flex-1 h-full flex flex-col items-start gap-2">
  <HeroSlider client:idle />

</div>
<!-- fin de lado izquierdo -->

     <!-- Lado Derecho: Textos -->
<div class="flex flex-col w-[50vw] items-left max-w-[50vw] space-y-4 mb-5 h-full px-8">

  <!-- VI Foro 2026 -->
    <Image
      src={VIForoHsi}
      alt="VI Foro"
      class="h-46 w-46"
      width={182}
      height={164}
      loading="lazy"
      decoding="async"
      format="svg"
      quality={80}
    />

<div class="bg-[#204356] rounded-full px-8 py-3 w-full max-w-[575px] h-12 flex items-center justify-center">
    <p class="text-white font-bold italic leading-[114.9%] tracking-normal text-center whitespace-nowrap"
     style="font-size: clamp(18px, 2.5vw, 36px);">
    El desafío de las Infecciones</p>
</div>

  <!-- Subtítulo verde en cursiva -->
  <h3 class="text-green-600 font-medium italic text-xl leading-snug text-justify">
    <span>“UNA SOLA SALUD” ANTE LA</span><br />
    <span>RESISTENCIA ANTIMICROBIANA</span>
  </h3>

  <!-- FONDO DEGRADADO "EVENTO GRATUITO" -->
  <div class="text-justify">
  <span class="px-6 py-2 rounded-[5px] text-white font-bold tracking-widest shadow bg-gradient-hsi whitespace-nowrap"
        style="font-size: clamp(12px, 1.2vw, 18px);">
    EVENTO GRATUITO
  </span>
  </div>

  <!-- Fecha del foro  -->
  <p class="text-3xl font-black text-blue-text tracking-wide text-justify">
    27 Y 28 DE AGOSTO, 2026
  </p>

  <!-- Sede + línea ondulada decorativa -->
  <div class="flex flex-col items-justify w-full">
    <p class="text-gray-700 text-lg font-thin tracking-widest text-justify text-blue-text">
      SEDE | <strong class="font-extrabold">Auditorio Médica Sur</strong>
    </p>
    <br>
   <img src="/wave-line.svg" alt="" class="w-[142px] md:w-[300px]" aria-hidden="true" />
  </div>

  <!-- MédicaSur logo + texto institucional -->
  <div class="flex items-center gap-2 mt-[14px]">
    <Image
      src={msLogoMedicaSur}
      alt="Médica Sur"
      class="h-12 w-auto"
      width={224.6}
      height={52}
      loading="lazy"
      format="svg"
      quality={80}
    />
    <!-- Separador vertical -->
    <div class="w-px h-14 bg-gray-400"></div>
    <!-- Texto institucional -->
    <p class="font-bold text-blue-text italic text-base leading-snug text-justify max-w-[280px]">
      Institución sede comprometida<br/>con el combate a las infecciones
    </p>
  </div>
 <!-- <div class="flex flex-col items-start mt-4 w-full gap-2">
    <span class="px-4 py-1 rounded-[5px] text-white font-semibold text-sm shadow bg-gradient-hsi">
      AVAL ACADÉMICO-->
   
<!--Aval Acaemico, degradado + logo -->
<div class="flex flex-row items-center gap-6 mt-6">
  
  <!-- Etiqueta Aval Académico -->
   <span class="px-6 py-2 rounded-[5px] text-white font-bold tracking-widest shadow bg-gradient-hsi whitespace-nowrap"
        style="font-size: clamp(12px, 1.2vw, 18px);">
    AVAL ACADÉMICO
  </span>

  <!-- Logo CNSP -->
  <Image
    src={msLogo}
    alt="CNSP"
    class="h-32 w-auto" 
    width={165}
    height={165}
    loading="lazy"
    format="svg"
    quality={100}
  />
  
</div>
<!-- Termina Lado derecho -->
</div>
<!-- Fin lg:flex -->
</div>
<!-- Fin desktop layout -->



  <!-- Mobile Layout -->

   <!-- Fondo del home mobile -->
  <div
    class="absolute inset-0 z-0 bg-no-repeat bg-cover bg-center pointer-events-none"
    style="background-image: url('/bg_home_mobile.png');"
    aria-hidden="true"></div>


  <div class="lg:hidden flex flex-col items-center text-center px-6 pt-40 z-30 relative h-full">

 
  <!-- VI Foro 2026 -->
    <Image
      src={VIForoHsi}
      alt="VI Foro"
      class="h-46 w-46"
      width={182}
      height={164}
      loading="lazy"
      decoding="async"
      format="svg"
      quality={80}
    />


    <Image
      src={heroLogoMobile}
      alt="Doctores"
      class="w-[200px] mt-4"
      loading="eager"
      fetchpriority="high"
      width={320}
      format="png"
      quality={80}
    />

     <div class="bg-[#204356] rounded-full px-8 py-3 w-full max-w-[575px] h-12 flex items-center justify-center">
       <p class="text-white font-bold italic leading-[114.9%] tracking-normal text-center whitespace-nowrap"
     style="font-size: clamp(18px, 2.5vw, 36px);">
    El desafío de las Infecciones</p>
   
</div>

  <!-- Subtítulo Mobile -->
  <h3 class="text-green-600 px-8 py-3 font-medium italic text-xl leading-snug text-justify">
    <span>“UNA SOLA SALUD” ANTE LA</span><br />
    <span>RESISTENCIA ANTIMICROBIANA</span>
  </h3>
<!-- Fecha foro mobile -->

    <p class="text-blue-text px-8 py-3 text-3xl font-bold">
      27 Y 28 DE <br />AGOSTO, 2026
    </p>

      <!-- Texto insticional mobile -->
    <div class="flex flex-col items-center w-full mt-2">
      <p class="text-blue-text text-xl text-center font-normal tracking-wide">
        SEDE | Auditorio del <br /><strong class="font-extrabold">Hospital Médica Sur</strong>
      </p>
        <img src="/wave-line.svg" alt="" class="w-36 mt-2 opacity-80" aria-hidden="true" />
    </div>

    <span class="px-4 py-1 rounded-full text-white font-semibold text-base shadow bg-gradient-to-r from-gradient-start via-gradient-center to-gradient-end mt-10 mb-2">
       AVAL ACADÉMICO
    </span>
  <!-- MédicaSur logo -->
  <div class="flex items-center gap-2 mt-[14px]">
    <Image
      src={msLogoMedicaSur}
      alt="Médica Sur"
      class="h-12 w-auto"
      width={200}
      height={60}
      loading="lazy"
      format="svg"
      quality={80}
    />
  </div>
  <!-- END Mobile Layout -->
</section>